language: minimal

matrix:
  include:
    - name: "Debian 9 (Stretch)"
      os: linux
      sudo: required
      services:
        - docker
      env: 
        - CI_TYPE=deb
        - WORKSPACE=${TRAVIS_BUILD_DIR}
        - RUNNER="docker exec -w ${TRAVIS_BUILD_DIR} -e WORKSPACE=${WORKSPACE} debian_stretch"
      before_install:
        - docker run -di -v ${TRAVIS_BUILD_DIR}:${TRAVIS_BUILD_DIR} --name debian_stretch --rm debian:stretch
      after_success:
        - docker kill debian_stretch
    
    - name: "Debian 10 (Buster)"
      os: linux
      sudo: required
      services:
        - docker
      env: 
        - CI_TYPE=deb
        - WORKSPACE=${TRAVIS_BUILD_DIR}
        - RUNNER="docker exec -w ${TRAVIS_BUILD_DIR} -e WORKSPACE=${WORKSPACE} debian_buster"
      before_install:
        - docker run -di -v ${TRAVIS_BUILD_DIR}:${TRAVIS_BUILD_DIR} --name debian_buster --rm debian:buster
      after_success:
        - docker kill debian_buster
    
    - name: "Ubuntu 16.04 (Xenial)"
      os: linux
      sudo: required
      services:
        - docker
      env: 
        - CI_TYPE=deb
        - WORKSPACE=${TRAVIS_BUILD_DIR}
        - RUNNER="docker exec -w ${TRAVIS_BUILD_DIR} -e WORKSPACE=${WORKSPACE} ubuntu_xenial"
      before_install:
        - docker run -di -v ${TRAVIS_BUILD_DIR}:${TRAVIS_BUILD_DIR} --name ubuntu_xenial --rm ubuntu:xenial
      after_success:
        - docker kill ubuntu_xenial
    
    - name: "Ubuntu 18.04 (Bionic)"
      os: linux
      sudo: required
      services:
        - docker
      env: 
        - CI_TYPE=deb
        - WORKSPACE=${TRAVIS_BUILD_DIR}
        - RUNNER="docker exec -w ${TRAVIS_BUILD_DIR} -e WORKSPACE=${WORKSPACE} ubuntu_bionic"
      before_install:
        - docker run -di -v ${TRAVIS_BUILD_DIR}:${TRAVIS_BUILD_DIR} --name ubuntu_bionic --rm ubuntu:bionic
      after_success:
        - docker kill ubuntu_bionic
    
    - name: "macOS 10.14 (Mojave)"
      os: osx
      osx_image: xcode11
      env: 
        - CI_TYPE=brew 
        - WORKSPACE=${TRAVIS_BUILD_DIR}
        - RUNNER=""

script: |
  ${RUNNER} ./.ci/${CI_TYPE}/install
  ${RUNNER} ./.ci/${CI_TYPE}/build
  ${RUNNER} ./.ci/${CI_TYPE}/post_build
