Source: dcmtkpp
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Julien Lamy <lamy@unistra.fr>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               d-shlibs,
               cmake,
               libjsoncpp-dev,
               libdcmtk2-dev,
               libicu-dev (>= 4.8.1.1),
               zlib1g-dev,
               libboost-test-dev (>= 1.46.1),
               dcmtk (>= 3.6.0)
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/viewvc/debian-med/trunk/packages/dcmtkpp/trunk/
Vcs-Svn: svn://anonscm.debian.org/debian-med/trunk/packages/dcmtkpp/trunk/
Homepage: https://github.com/lamyj/dcmtkpp

Package: libdcmtkpp0
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Wrappers around DCMTK to have an easier API
 DCMTK++ is a set of wrappers around DCMTK to have an easier API, notably for
 the networking part.

Package: libdcmtkpp0-dev
Architecture: any
Section: libdevel
Depends: libdcmtkpp (= ${binary:Version}),
         ${misc:Depends}
Provides: libdcmtkpp-dev
Description: Wrappers around DCMTK to have an easier API (development files)
 DCMTK++ is a set of wrappers around DCMTK to have an easier API, notably for
 the networking part.
 .
 This package contains the development files.
